.centered {
    text-align: center;
}

body{
    font-family: serif;
    margin: 0;
    background-color: azure;
}

a{
    color: lightblue;
    text-decoration: none;
}

.banniere{
    background-image: url(img/jhin_cool.jpg);
    background-size: auto;
}